

#my-projects {
  padding-block:72px 144px ;
 
   div:nth-child(1) {
   text-align: center;
  }

  .card {
    max-width: 330px;
    padding: 12px;
    background-color: var(--gray-300);
    border-radius: 12px;

    h3 {
      color: var(--gray-600);
      margin-block: 24px 8px;
    }

    p {
      color: var(--gray-500) ;
    }
  }
}

#services {
background-color: var(--gray-100);
border-radius: 12px;
padding: 88px 120px 120px;

  .card-contacts {
    border-radius: 12px;
    border: 2px solid var(--gray-200);
    padding: 20px;
  }

  div:nth-child(1) {
    text-align: center;
 }
  
 h3 {
  color: var(--gray-600);
  margin-block: 24px 8px;
}

p {
  color: var(--gray-500) ;
}

}