.grid {
  display: grid;
}

.flex {
  display: flex;
  justify-content: center;
}

.grid-flow-col {
  grid-template-columns: repeat(3, 1fr);
}

.subtitle {
  font: var(--subtitle);
}

.text {
  font: var(--text);
}

.text-md {
  font: var(--text-md);
} 

.text-sm {
 font: var(--text-sm);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.gap-24 {
  gap: 24px;
}

.gap-48 {
  gap: 48px;
}
.gap-56 {
 gap: 56px;
}

